openapi: 3.1.0
info:
  title: Negatic API
  version: 0.1.0
  summary: Agent-native F&B procurement API for Malaysia.
  description: |
    Negatic exposes the Malaysian F&B supply chain as a clean, machine-readable
    API. Every endpoint is designed to be consumed by AI agents, ERPs, and
    custom clients — not just our own dashboard and WhatsApp bot.

    All POST endpoints that create resources require an `Idempotency-Key`
    header. Money is represented as integer cents in MYR. Pagination is
    cursor-based. Errors follow RFC 7807 (Problem Details).
  contact:
    name: Negatic
    url: https://negatic.dev

servers:
  - url: https://api.negatic.dev/v1
    description: Production
  - url: http://127.0.0.1:54321/rest/v1
    description: Local Supabase (PostgREST)

security:
  - bearerAuth: []

tags:
  - name: Products
    description: Catalog items offered by suppliers.
  - name: Orders
    description: Restaurant-to-supplier purchase orders.
  - name: Webhooks
    description: Event notifications delivered to supplier-registered URLs.

paths:
  /products:
    get:
      tags: [Products]
      summary: List products
      operationId: listProducts
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
        - in: query
          name: supplier_id
          schema: { type: string, format: uuid }
        - in: query
          name: category
          schema: { type: string }
      responses:
        '200':
          description: A page of products.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProductPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }

    post:
      tags: [Products]
      summary: Create a product
      operationId: createProduct
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProductCreate' }
      responses:
        '201':
          description: Product created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }

  /orders:
    get:
      tags: [Orders]
      summary: List orders
      operationId: listOrders
      parameters:
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
        - in: query
          name: status
          schema: { $ref: '#/components/schemas/OrderStatus' }
        - in: query
          name: supplier_id
          schema: { type: string, format: uuid }
        - in: query
          name: restaurant_id
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: A page of orders.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderPage' }
        '401': { $ref: '#/components/responses/Unauthorized' }

    post:
      tags: [Orders]
      summary: Create an order
      operationId: createOrder
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrderCreate' }
      responses:
        '201':
          description: Order created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }

  /orders/{order_id}:
    get:
      tags: [Orders]
      summary: Get an order
      operationId: getOrder
      parameters:
        - in: path
          name: order_id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Order detail.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Order' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

webhooks:
  orderCreated:
    post:
      tags: [Webhooks]
      summary: Order created
      description: |
        Sent to every active webhook subscribed to `order.created` on the
        order's supplier when a new order is placed. The first delivery
        attempt fires within ~1s of order creation; later attempts (on
        retry) come from a periodic dispatcher.

        **Verification.** Compute `HMAC-SHA256(secret, raw_request_body)`
        as a lowercase hex string and compare against the
        `X-Negatic-Signature` header (which is prefixed with `sha256=`).
        Reject the request on mismatch.

        **Delivery semantics.** At-least-once. Dedupe on the
        `X-Negatic-Delivery` header (which equals `id` in the body).

        **Retries.** A non-2xx response triggers exponential backoff
        (30s, 1m, 5m, 15m, 1h, 6h) up to 6 attempts. 4xx responses are
        not retried — your endpoint is rejecting our payload, and
        retrying will not change that. Respond with any 2xx within 10
        seconds to acknowledge.
      parameters:
        - in: header
          name: X-Negatic-Signature
          required: true
          schema: { type: string, example: 'sha256=4f8a...' }
        - in: header
          name: X-Negatic-Event
          required: true
          schema: { type: string, example: 'order.created' }
        - in: header
          name: X-Negatic-Delivery
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrderCreatedEvent' }
      responses:
        '2XX':
          description: Acknowledged. Any 2xx is treated as success.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT or scoped API key
      description: |
        Pass either a Supabase JWT (dashboard users) or a scoped API key
        (agents) as `Authorization: Bearer <token>`.

  parameters:
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: true
      description: |
        A client-generated unique key (UUID recommended) that makes this
        request safe to retry. The server stores the result keyed by this
        value; replays with the same key return the original response.
      schema: { type: string, minLength: 1, maxLength: 255 }

    CursorParam:
      in: query
      name: cursor
      description: Opaque cursor returned in the previous page's `next_cursor`.
      schema: { type: string }

    LimitParam:
      in: query
      name: limit
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }

  responses:
    BadRequest:
      description: The request was malformed.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Conflict:
      description: Conflict (e.g., idempotency key reused with a different body).
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

  schemas:
    Problem:
      type: object
      description: RFC 7807 Problem Details.
      properties:
        type: { type: string, format: uri, default: about:blank }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string, format: uri }
      required: [title, status]

    OrderStatus:
      type: string
      enum: [pending, confirmed, fulfilled, cancelled]

    Unit:
      type: string
      enum: [kg, pcs, liter]

    Product:
      type: object
      required: [id, supplier_id, sku, name, category, unit, halal_certified, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        supplier_id: { type: string, format: uuid }
        sku: { type: string }
        name: { type: string }
        name_ms: { type: [string, "null"] }
        category: { type: string }
        unit: { $ref: '#/components/schemas/Unit' }
        halal_certified: { type: boolean }
        description: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ProductCreate:
      type: object
      required: [supplier_id, sku, name, category, unit]
      properties:
        supplier_id: { type: string, format: uuid }
        sku: { type: string }
        name: { type: string }
        name_ms: { type: string }
        category: { type: string }
        unit: { $ref: '#/components/schemas/Unit' }
        halal_certified: { type: boolean, default: false }
        description: { type: string }

    ProductPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Product' }
        next_cursor: { type: [string, "null"] }

    OrderItem:
      type: object
      required: [id, product_id, quantity, unit_price_cents, line_total_cents]
      properties:
        id: { type: string, format: uuid }
        product_id: { type: string, format: uuid }
        quantity: { type: number }
        unit_price_cents: { type: integer }
        line_total_cents: { type: integer }

    OrderItemCreate:
      type: object
      required: [product_id, quantity]
      properties:
        product_id: { type: string, format: uuid }
        quantity: { type: number, exclusiveMinimum: 0 }

    Order:
      type: object
      required:
        - id
        - restaurant_id
        - supplier_id
        - status
        - delivery_date
        - total_amount_cents
        - items
        - created_at
        - updated_at
      properties:
        id: { type: string, format: uuid }
        restaurant_id: { type: string, format: uuid }
        supplier_id: { type: string, format: uuid }
        status: { $ref: '#/components/schemas/OrderStatus' }
        delivery_date: { type: string, format: date }
        delivery_window: { type: [string, "null"] }
        total_amount_cents: { type: integer }
        items:
          type: array
          items: { $ref: '#/components/schemas/OrderItem' }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    OrderCreate:
      type: object
      required: [restaurant_id, supplier_id, delivery_date, items]
      properties:
        restaurant_id: { type: string, format: uuid }
        supplier_id: { type: string, format: uuid }
        delivery_date: { type: string, format: date }
        delivery_window: { type: string }
        items:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/OrderItemCreate' }

    OrderPage:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/Order' }
        next_cursor: { type: [string, "null"] }

    EventType:
      type: string
      enum: [order.created]

    OrderCreatedEvent:
      type: object
      description: |
        Envelope sent to supplier-registered webhook URLs when an order is
        created. The signature in `X-Negatic-Signature` is computed over the
        full raw request body — including this envelope, not just `data`.
      required: [id, type, created, data]
      properties:
        id:
          type: string
          format: uuid
          description: Unique delivery ID. Use for dedupe; matches `X-Negatic-Delivery`.
        type:
          $ref: '#/components/schemas/EventType'
        created:
          type: string
          format: date-time
          description: When the event was enqueued (not when it was delivered).
        data:
          $ref: '#/components/schemas/Order'
